/* style neonText */
.title-page h1 {
    color: #fff;
    text-shadow:
        0 0 8px #fff,
        0 0 20px #0fa;
    text-align: center;
}

p, .layout {
    color: white;
    margin: 0;
}




/*! -------------MENU----------- */
/* url(https://fonts.googleapis.com/css?family=Lora); */

ul {
    list-style: none; 
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .3s linear;
  }
  i {
    margin-right: 10px;
  }
  nav {
    display: block;
    width: 660px;
    border-bottom: 5px solid #060607;;
    /* margin: 0 auto 30px; */
  }
  
  .four ul {
    display: -webkit-flex; 
    display: flex;
    /* по центру */
    justify-content:center; 
    background: #282c33;
    padding-left: 0;
  }
  .four a {
    padding: 1em;
    display: block;
    color: #ffffff;
    border-right: 1px solid #060607;
    background: #282c33;
  }
  .four a:hover {
    background: #000000;
    color: rgb(112, 111, 111);
  }









  /*! -------Todo components------------ */
  .todos {
    margin-top: 3%;
  }

  .todo_item {
    /* неоновая рамка */
    box-shadow:
        0 0 8px #fff,
        0 0 20px #0fa;
    border-radius: 0.5em;
    border: solid 2px #fff;
    /* отступы между item */
    margin: 0.2em;
    /* внутринние отступы item */
    padding: 10px;
  }

  .todo_item p {
    padding-left: 4.5%;
    /* при наведении на параграф item todo появлялся курсор */
    cursor: pointer;
  }



/*! -------Check-box: Квадратик и галочка---------- */
/* ? ОПЫТ: не в коем случае после фигурных скобок точку с запятой не ставить, иначе стили не работает после ; - и хрен узнаешь */
/*  квадратик */
.check_box  {
  position: absolute;
  border: solid 1.7px #fff;
  width: 16px;
  height: 16px;
  border-radius: 0.3em;
  /* при наведении на параграф item todo появлялся курсор */
  cursor: pointer;
}  
/* галочка */
.check_icon {
  color: white;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-45deg);

}


