/* сборс стилей браузера */
/* html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
 
2
Normalize.css */






/* style neonText */
.title-page h1 {
    color: #fff;
    text-shadow:
        0 0 8px #fff,
        0 0 20px #0fa;
    text-align: center;
}

p, .layout {
    color: white;
    margin: 0;
}




/*! -------------MENU----------- */
/* url(https://fonts.googleapis.com/css?family=Lora); */

ul {
    list-style: none; 
    margin: 0 auto;
  }
  a {
    text-decoration: none;
    font-family: 'Lora', serif;
    transition: .3s linear;
  }
  i {
    margin-right: 10px;
  }
  nav {
    display: block;
    width: 100%;
    border-bottom: 5px solid #060607;;
    /* margin: 0 auto 30px; */
  }
  
  .four ul {
    display: -webkit-flex; 
    display: flex;
    /* по центру */
    justify-content:center; 
    background: #282c33;
    padding-left: 0;
  }
  .four a {
    padding: 1em;
    display: block;
    color: #ffffff;
    border-right: 1px solid #060607;
    background: #282c33;
  }
  .four a:hover {
    background: #000000;
    color: rgb(112, 111, 111);
  }









  /*! -------Todo components------------ */
  .todos {
    margin-top: 3%;
  }

  .todo_item {
    /* чтобы все элменты в этом блоке расположились по горизонтали (а чтобы растянулись по сторонам нужно в элментах: */
    display:flex;
    /* чтобы Check был по-центру по вертикали */
    align-items:center;
    /* неоновая рамка */
    box-shadow:
        0 0 8px #fff,
        0 0 20px #0fa;
    border-radius: 0.5em;
    border: solid 2px #fff;
    /* отступы между item */
    margin: 0.2em;
    /* внутринние отступы item */
    padding: 10px;
    /* плавное изменение при на ведении */
    transition: .3s ease;
  }

  .todo_item p {
    padding-left: 4.5%;
    /* при наведении на параграф item todo появлялся курсор */
    cursor: pointer;
    /* плавное изменение при на ведении */
    transition: .3s ease;
  }

/* при наведении */
  .todo_item:hover {
    box-shadow:
        0 0 10px #fff,
        0 0 25px #0fa;
    /* padding-bottom: 12px; */
  }

/* при наведении */
  .todo_item p {
    font-size: 1.3em;
    /* flex-grow - чтобы элемент растянулся: */
    /* Определяет возможность элемента увеличиваться в размере, при необходимости заполняя весь flex-контейнер. */
    /* 0 запрещено. 1 разрешено. Подробнее: https://fls.guru/flexbox.html */ 
    flex-grow:1;
    text-shadow:
        0 0 4px #fff,
        0 0 20px #0fa; 
  }
/*! -------Check-box: Квадратик и галочка---------- */
/* ? ОПЫТ: не в коем случае после фигурных скобок точку с запятой не ставить, иначе стили не работает после ; - и хрен узнаешь */
/*  квадратик */
.check_box  {
  position: absolute;
  border: solid 1.7px #fff;
  width: 16px;
  height: 16px;
  border-radius: 0.3em;
  /* при наведении на параграф item todo появлялся курсор */
  cursor: pointer;
}  
/* CSS-галочка */
.check_icon {
  align-items:center;
  color: white;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
  width: 14px;
  height: 8px;
  border-bottom: solid 2px currentColor;
  border-left: solid 2px currentColor;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-45deg);
}

/* зачернутый текст в Todo для TodoParagraph */
.comleted_todo_title {
  text-decoration: line-through;
}


/*! иконка корзина (компонент Tarsh.jsx) из плагина React-icons  */
.trash-icon {
  color:#3f3f3f;
  transition: .3s ease;
  /* размеры указаны на месте в синтаксисе: <GoTrashcan size="26px"/> */
}

.trash-icon:hover {
  color: rgb(255, 0, 0);
}


/* ! поле ввода*/
.create-todo-field {
  /* размер блока */
  margin: 0.2em; 
}

/* текст в поле */
.text-field-input {
  color: #fff;
  /* text-shadow:
        0 0 4px #fff,
        0 0 6px #0fa; */
  font-size: 1.3em;
  box-sizing: border-box;
}
/*  стили блока */
.text-field-input {
  position: relative;
  /* чтобы размер не выходил за рамки */
  box-sizing: border-box;
  margin-right: 3px;
  display: inline-flex;
  background-color: transparent;
  width: 100%;
    /* чтобы Check был по-центру по вертикали */
    align-items:center;
    /* неоновая рамка */
    box-shadow:
        0 0 4px #fff,
        0 0 6px #0fa;
    border-radius: 0.5em;
    border: solid 0.1px #fff;
    /* внутринние отступы item */
    padding: 10px;
    /* плавное изменение при на ведении */
    transition: .3s ease;
}




